body {
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: repeat;
    box-sizing: border-box;
    max-width: 1000px;
    max-height: 1200px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
}
nav a {
    font-size: 1.2rem;
    line-height: 3rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
}
nav a:link {
    background-color: darkblue;
    color: white;
}
nav a:visited {
    background-color: darkblue;
    color: white;
}
nav a:hover {
    background-color: darkblue;
    color: white;
}
nav a:active {
    background-color: darkblue;
    color: white;
}
header {
    background-color: white;
    max-width: fit-content;
}
.titulos {
    background-color:rgb(6, 6, 226);
    color: white;
    max-width: fit-content;
}
.subtitulos {
    background-color:cornflowerblue;
    color:black;
    max-width: fit-content;
}
blockquote {
    background-color: violet;
    color: #000;
    max-width: fit-content;
}
.seccion {
    background-color: aliceblue;
}
.articulos {
    background-color: lightgray;
}
h3 {
    background-color:blueviolet;
    color:black;
    max-width: fit-content;
}
footer {
    background-color: white;
    max-width: fit-content;
}